<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Welcome to ValetBike!
    </div>
    <p>This is Irene!</p>
    <br>
    <div class="flexbox vertical stretch">
      <% Bike.all.each do |b| %>
        <p>Bike: <%=b.identifier %> Current Station: <%=b.current_station_id %></p> 
        <%end%>
    </div>
    <br>
    <div class="flexbox vertical stretch">
      <% if @stations.present? %>
        <%= render(partial: "stations/row", collection: @stations, as: :station) %>
      <% else %>
      <div class="empty">
        No stations found.
      </div>
      <% end %>
    </div>
	</div>
</div>
